html, body {
    /*position: relative;*/
    margin: auto;
    padding: auto;
    background: url(https://media.giphy.com/media/2ddW5iZ9UVPKU/giphy.gif) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100%;
}
 
.whole {
  /*align-content: center;*/
  position: relative;
/*  padding-top: 4%;
  padding-bottom: 4%;*/
  /*margin:0;*/
  top: 50%;
  transform: translateY(-50%);
  /*padding: auto 0;*/
}

body {
    /*background: #cecece;*/
    /*color: #000;*/
    width: 970px;
    padding: auto;
    /*position: static;
    display: inline-block;
    margin: auto;
    padding-top: 9px;*/
}

.labels{
  font-family: 'PT Sans Narrow', 'Oswald', sans-serif;
  font-size: 1em;
  font-weight: 300;
  color: #111;
  margin-top: 0.4em;
  margin-left: 0.4em;
}

h1 {
    font-family: 'Alfa Slab One', sans-serif;
    font-size: 2.2em;
    color: #000;
    margin-top: -0.2em;
    margin-bottom: -0.6em;
}

/*h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.4em;
    color: #000;
}*/

h3 {
    font-family: 'PT Sans Narrow', 'Roboto', sans-serif;
    font-size: 1.8em;
    font-weight: 700;
    margin-bottom: -0.5em;
    color: #909090;
}

h4 {
    font-family: 'PT Sans Narrow', 'Oswald', sans-serif;
    font-size: 1.3em;
    font-weight: 300;
    color: #111;
    margin-top: 0.4em;
    margin-left: 0em;
}

h6 {
    font-family: 'PT Sans Narrow', 'Roboto', sans-serif;
    font-size: 1.8em;
    font-weight: 700;
    margin-bottom: -0.5em;
    color: #fff;
}

.h7 {
    font-family: 'PT Sans Narrow', 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 1em;
    color: #fff;
    padding-top: 20px;
}

.h5 {
    font-family: 'kanit', 'Alfa Slab One', sans-serif;
    position: absolute;
    /*position: static;*/
    display: inherit;
    font-size: 7.3em;
    font-weight: 700;
    font-style: italic;
    color: #111;
    margin-top: -30px;
    padding-left: 16px;
    opacity: 0.1;
    /*transition: 0.5s;*/
}
.h5:after {
    
    top: 18px;
    opacity: 0;
    transition: 0.5s;
}

p {
    /*font-family: 'Open Sans Condensed', 'Open Sans', sans-serif;*/
    font-family: 'PT Sans Narrow', 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 1em;
    color: #000;
}

.image{
    /*position: absolute;*/
    display: inherit;
    width: 420px;
}

.header {
    position: static;
    /*display: inline-block;*/
    border-bottom: 1px solid #F3F3F3;
    height: 50px;
    width: 970px;
    /*background-color: #fff;*/
    background-color: rgba(255, 255, 255, 0.97);
    padding: 4px;
    /*top:20px;*/
    margin-top: 0px;
}

.menu {
    float:left;
    position: static;
    display: inline-block;
    width: 50px;
    height: 610px;
    float: center;
    background-color: rgba(255, 255, 255, 0.97);
    border-right: 1px solid #F3F3F3;
    /*list-style: none;*/
    text-align: center;
    clear: both;
    padding-top: 3.1em;
}


 ol {
   list-style: none;
   padding: 1em;
   text-align: center;
   font-family: 'Oswald', sans-serif;
   font-weight: 200;
   font-size: 1em;
 }

.main {
    /*position: static;*/
    display: inherit;
    /*position: absolute;*/
    /*display: block;*/
    width: 420px;
    height: 380px;
    float: left;
    background-color: rgba(255, 255, 255, 0.97);
    /*display: inline;*/
    /* border-bottom: 1px solid #F6F6F6; */
}
.main2 {
    position: static;
    display: inherit;
    width: 500px;
    height: 280px;
    justify-content: center;
    float: right;
    /*background-color: #F3F3F3;*/
    background-color: rgba(240, 240, 240, 0.97);
    padding: 1em;
}

.main2_2 {
    position: static;
    display: inherit;
    width: 500px;
    height: 100px;
    justify-content: center;
    float: right;
    /*background-color: #F3F3F3;*/
    background-color: rgba(240, 240, 240, 0.97);
    padding-left: 1em;
}

.main3 {
    position: static;
    display: inline-block;
    width: 920px;
    height: 230px;
    /*float: both;*/
    background-color: rgba(255, 255, 255, 0.97);
    color: rgba(255, 255, 255, 0.2);
    border-top: 1px solid #F3F3F3;
}

.about-cover{
    position: absolute;
    display: inherit;
    width: 970px;
    height: 610px;
    float: center;
    background-color: white;
    list-style: none;
    clear: both;
    padding-top: 0em;
    opacity: 1;
    z-index: 10;
}

.about-pack {
  position: absolute;
  display: inherit;
  width: 500px;
  text-align: center;
  top: 40px;
  margin: 0px 233px 0px 233px;
  /*padding: auto;*/
  float: center;
  z-index: 12;
}

.about-pack2 {
  position: absolute;
  display: inherit;
  width: 500px;
  text-align: center;
  bottom: 46px;
  margin: 0px 233px 0px 233px;
  color: white;
  /*padding: auto;*/
  float: center;
  z-index: 12;
}

.cover-v{
  /*top: -30px;*/
  background: url(https://www.youtube.com/embed/Jr7UWoEedMk?rel=0&amp;controls=0&amp;showinfo=0?ecver=1) no-repeat center center fixed; 
  /*-webkit-background-size: cover;*/
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  z-index: 11;
}

.opac{
  /*opacity: 1 !important;*/
}

.y.axis path {
  display: none;
}

.menu .button {
  border: 0;
  color: black;
  width: 2.5em;
  height: 2.5em;
  padding-top: 0.3em;
  outline: none;
  border-radius: 100%;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-size: 0.8em;
  font-weight: 300;
  margin: 0.4em;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.97);
}

.menu .button:hover {
  /*color: rgba(208 , 2, 27, 1);*/
  background: rgba(0 ,0 , 0 , 0.05);
  /*opacity: 1;*/
}

.menu .button.selected {
  background: rgba(208 , 2, 27, 1);
  color: black;
}

.menu .button:focus {
outline:0;
}

.main2_2 .cw { 
/*  position: static;
  display: inherit;*/
  padding-bottom: 10px;
}

.main2_2 .btn-group1{
/*  position: relative;
  display: inherit;*/
  padding-top: 0px;
}

.main2_2 .button {
  border: 1px solid #F3F3F3;
  cursor: pointer;
  /*position: relative;*/
  width: 54px;
  height: 54px;
  padding: 6px 5px 3px 5px;
  outline: none;
  border-radius: 100%;
  text-align: center;
  margin-bottom: 0px;
}

.main2_2 .button span {
  display: inline-block;
  position: relative;  
  /*  position: absolute; 
  display: block;*/
  padding-top: 0px;
  padding-right: 0px;
}
.main2_2 .button span:after {
  content: url(path.png); 
 /* position: absolute;
  display: block;*/
  width: 20px;
  /*vertical-align: middle;*/
  /*width: 15px;*/ 
   /*position: absolute;
  display: block;*/
  /*width: 20px;
  vertical-align: middle;*/
  opacity: 0;
  transition: 0.5s;
}

.main2_2 .button:hover span:after {
  opacity: 0.85;
}

.main2_2 .button.selected span:after{
  opacity: 1;
}

.main2_2 .button:focus {
  outline:3;
}

#logo1 {
  display: inline-block;
  /*position:absolute;*/
  position: static;
  float: center;
  /*position: relative;*/
  vertical-align: middle;
  /*text-align: center;*/
}

#rnp {
  /*display: inherit;*/
  /*position: relative;*/
  position: absolute;
  /*position: static;*/
  display: inherit;
  padding-left: 15px;
  color: #666;

}

#about {
  float: right;
/*  display: inline-block;
  position: relative;*/
  position: static;
  display: inherit;
  font-family: 'PT Sans Narrow', 'Oswald', sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  color: #555;
  /*top:0px;*/
  vertical-align: middle;
  margin-top: -33px; 
  margin-right: 10px;
  background-color: rgba(208, 2, 27, 0);
  border: 0px solid #000;
  cursor: pointer;
  height: 2.4em;
  width: 4.8em;
  padding-top: 5px;
  text-align: center;
  border-radius: 0px;
}

#about:focus {
  outline:0;
}

#about:hover {
  background-color: rgba(208, 2, 27, 1);
  color: #fff;
  transition: 0.5s;
}

#about:active {
  background-color: rgba(208, 2, 27, 1);
  color: rgba(255, 255, 255, 1);
}

#enter {
  float: center;
  display: inline-block;
  position: relative;
  font-family: 'PT Sans Narrow', 'Oswald', sans-serif;
  font-size: 1.5em;
  font-weight: 300;
  color: #000;
  vertical-align: middle;
  top: 160px; 
  background-color: rgba(255, 255, 255, 1);
  border: 0px solid #000;
  cursor: pointer;
  height: 2em;
  width: 7em;
  margin: 2em;
  padding: 0.3em;
  /*margin-top: 20px;*/
  text-align: center;
  border-radius: 0px;
}

#enter:focus {
  outline:0;
}

#enter:hover {
  background-color: rgba(208, 2, 27, 1);
  color: #fff;
  transition: 0.5s;
}

#enter:active {
  background-color: rgba(208, 2, 27, 1);
  color: rgba(255, 255, 255, 1);
}
.axis path,
.axis line {
  fill: none;
  /*stroke: #111;*/
  stroke-width: 0.1px;
  display: none;
}

.tick line {
/*display:inline-block;*/
display: none;
}

.nvd3 .nv-axis.nv-y path.domain{
 stroke-opacity: 0;
}

.line {
  fill: none;
}
g.y.axis {
  display: none;
}

.axis text {
  font-family: 'PT Sans Narrow', 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 1em;
  fill:dimgrey;
}

text {
  font-family: 'PT Sans Narrow', 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 0.8em;
    z-index: 20;
}

.textshow {
  fill: red;
  opacity: 1;
}

.texthide {
  fill: red;
  opacity: 0.5;
}

.circle {
  fill: #999;
  stroke: #fff;
  stroke-width: 2px;
}
.circle .text{
  font: 15px;
  font-weight: 400;
  text-anchor: middle;
}
div.tooltip {
  position: absolute;
  text-align: center;
  width: 60px;
  height: 28px;
  padding: 2px;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
}

.focused{
  stroke: #999;
  stroke-opacity:1;
  stroke-width:2px;
}

.unfocused{
  stroke: gray;
  stroke-width: 1px;
  stroke-opacity:0.7;
}

#highlight{
  font-family: 'PT Sans Narrow', 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 1em;
  fill: red;
  opacity: 1;

}
/*// #f6f6f6*/

#jordan_031{background-color: #FFFFFF;}
#jordan_032{background-color: #000000;}
#jordan_033{background-color: #D0021B;}
#jordan_034{background-color: #0076FF;}
#jordan_041{background-color: #FFFFFF;}
#jordan_042{background-color: #000000;}
#jordan_043{background-color: #D0021B;}
#jordan_044{background-color: #0076FF;}
#jordan_051{background-color: #D0021B;}
#jordan_052{background-color: #A0A3A6;}
#jordan_053{background-color: #9012FE;}
#jordan_054{background-color: #FF0000;}
#jordan_061{background-color: #EC3941;}
#jordan_062{background-color: #000000;}
#jordan_063{background-color: #395EA8;}
#jordan_064{background-color: #65282C;}
#jordan_065{background-color: #D4253C;}
#jordan_071{background-color: #2C55B2;}
#jordan_072{background-color: #E84E5B;}
#jordan_073{background-color: #9C9E9E;}
#jordan_074{background-color: #000000;}
#jordan_075{background-color: #FFFFFF;}
#jordan_081{background-color: #62C5D5;}
#jordan_082{background-color: #FFFFFF;}
#jordan_083{background-color: #000000;}
#jordan_091{background-color: #FFFFFF;}
#jordan_092{background-color: #78BBED;}
#jordan_093{background-color: #79754E;}
#jordan_094{background-color: #646464;}
#jordan_101{background-color: #FFFFFF;}
#jordan_102{background-color: #4991CA;}
#jordan_103{background-color: #817774;}
#jordan_104{background-color: #CC1E26;}
#jordan_111{background-color: #FFFFFF;}
#jordan_112{background-color: #A4C1F4;}
#jordan_113{background-color: #A71918;}
#jordan_114{background-color: #000000;}
#jordan_121{background-color: #FFC100;}
#jordan_122{background-color: #FF344F;}
#jordan_123{background-color: #1C367D;}
#jordan_124{background-color: #A71918;}
#jordan_125{background-color: #000000;}
#jordan_131{background-color: #FFFFFF;}
#jordan_132{background-color: #000000;}
#jordan_133{background-color: #3768A7;}
#jordan_134{background-color: #FF424F;}
#jordan_135{background-color: #A71918;}
#jordan_141{background-color: #000000;}
#jordan_142{background-color: #FF4548;}
#jordan_143{background-color: #1F221F;}
#jordan_144{background-color: #A71918;}
#jordan_145{background-color: #5CFCE8;}
#jordan_151{background-color: #000000;}
#jordan_152{background-color: #77C0F3;}
#jordan_153{background-color: #6C5B6B;}
#jordan_154{background-color: #1C367D;}
